%li.task{id: task.id, class: (task.completed_at.nil? ? "" : "completed")}

  = task.name.capitalize
  %form.update(action="/task/#{task.id}" method="POST")
    %input(type="hidden" name="_method" value="PUT")
    - if task.completed_at.nil?
      %input(type="submit" value="  " title="Complete Task")
    - else
      %input(type="submit" value="✓" title="Uncomplete Task")

  %form.delete(action="/task/#{task.id}" method="POST")
    %input(type="hidden" name="_method" value="DELETE")
    %input(type="submit" value="✗" title="Delete Task")
- if task.completed_at
  = " - Completed: #{task.completed_at.strftime('%r %D')}"
